Install our package, then import it.

_this is here as an example, and for development, eventually this install step shouldn't be in the notebooks, only in the main readme_

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.colors as mcolors
import matplotlib.pyplot as plt
import warnings

In [2]:
%%bash
cd .. 
pip install . --upgrade

Processing /home/smb/Documents/code/detect_simpsons_paradox_dev
Requirement already satisfied, skipping upgrade: matplotlib in /home/smb/anaconda3/lib/python3.6/site-packages (from detect-simpsons-paradox==0.2) (2.2.0)
Requirement already satisfied, skipping upgrade: Numpy in /home/smb/anaconda3/lib/python3.6/site-packages (from detect-simpsons-paradox==0.2) (1.14.1)
Requirement already satisfied, skipping upgrade: Scipy in /home/smb/anaconda3/lib/python3.6/site-packages (from detect-simpsons-paradox==0.2) (1.0.0)
Requirement already satisfied, skipping upgrade: seaborn in /home/smb/anaconda3/lib/python3.6/site-packages (from detect-simpsons-paradox==0.2) (0.8.1)
Requirement already satisfied, skipping upgrade: pandas in /home/smb/anaconda3/lib/python3.6/site-packages (from detect-simpsons-paradox==0.2) (0.22.0)
Requirement already satisfied, skipping upgrade: fairsim in /home/smb/anaconda3/lib/python3.6/site-packages (from detect-simpsons-paradox==0.2) (0.1)
Requirement already satisfied, skipping upgrade: flask in /home/smb/anaconda3/lib/python3.6/site-packages (from detect-simpsons-paradox==0.2) (0.12.2)
Requirement already satisfied, skipping upgrade: six>=1.10 in /home/smb/anaconda3/lib/python3.6/site-packages (from matplotlib->detect-simpsons-paradox==0.2) (1.11.0)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /home/smb/anaconda3/lib/python3.6/site-packages (from matplotlib->detect-simpsons-paradox==0.2) (0.10.0)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /home/smb/anaconda3/lib/python3.6/site-packages (from matplotlib->detect-simpsons-paradox==0.2) (1.0.1)
Requirement already satisfied, skipping upgrade: pytz in /home/smb/anaconda3/lib/python3.6/site-packages (from matplotlib->detect-simpsons-paradox==0.2) (2018.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in /home/smb/anaconda3/lib/python3.6/site-packages (from matplotlib->detect-simpsons-paradox==0.2) (2.6.1)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/smb/anaconda3/lib/python3.6/site-packages (from matplotlib->detect-simpsons-paradox==0.2) (2.2.0)
Requirement already satisfied, skipping upgrade: Werkzeug>=0.7 in /home/smb/anaconda3/lib/python3.6/site-packages (from flask->detect-simpsons-paradox==0.2) (0.14.1)
Requirement already satisfied, skipping upgrade: Jinja2>=2.4 in /home/smb/anaconda3/lib/python3.6/site-packages (from flask->detect-simpsons-paradox==0.2) (2.10)
Requirement already satisfied, skipping upgrade: itsdangerous>=0.21 in /home/smb/anaconda3/lib/python3.6/site-packages (from flask->detect-simpsons-paradox==0.2) (0.24)
Requirement already satisfied, skipping upgrade: click>=2.0 in /home/smb/anaconda3/lib/python3.6/site-packages (from flask->detect-simpsons-paradox==0.2) (6.7)
Requirement already satisfied, skipping upgrade: setuptools in /home/smb/anaconda3/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib->detect-simpsons-paradox==0.2) (38.5.2)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in /home/smb/anaconda3/lib/python3.6/site-packages (from Jinja2>=2.4->flask->detect-simpsons-paradox==0.2) (1.0)
Building wheels for collected packages: detect-simpsons-paradox
  Running setup.py bdist_wheel for detect-simpsons-paradox: started
  Running setup.py bdist_wheel for detect-simpsons-paradox: finished with status 'done'
  Stored in directory: /tmp/pip-ephem-wheel-cache-y6uohnvv/wheels/6f/33/e5/2e2b04658a9facaec056625f497ea9c4a21448cb987ce85d62
Successfully built detect-simpsons-paradox
Installing collected packages: detect-simpsons-paradox
  Found existing installation: detect-simpsons-paradox 0.2
    Uninstalling detect-simpsons-paradox-0.2:
      Successfully uninstalled detect-simpsons-paradox-0.2
Successfully installed detect-simpsons-paradox-0.2

You are using pip version 18.0, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
import detect_simpsons_paradox as dsp
import fairsim as sp_dat 
#warnings.simplefilter(action='ignore', category=FutureWarning)

# Dataset Generation

In [4]:
# Use geometric construction of SP from GMM

r_clusters = -.6  # correlation coefficient of clusters
cluster_spread = .8 # pearson correlation of means
p_sp_clusters = .5 # portion of clusters with SP 
k = 5 # number of clusters
cluster_size = [2,3]
domain_range = [0, 20, 0, 20]
N = 200 # number of points
p_clusters = [1.0/k]*k

sp_df2 = sp_dat.geometric_indep_views_gmm_sp(4,r_clusters,cluster_size,cluster_spread,p_sp_clusters,
                domain_range,k,N,p_clusters)
#mixed_regression_sp(N,mu,cov,[.7,.3])

200
8

Now we can view the first few rows of the data

In [5]:
sp_df2.head()

,x1,x2,x3,x4,x5,x6,x7,x8,A,B,C,D
0,3.323754,5.365664,13.473732,10.183403,13.530264,13.495102,9.442664,11.846781,A4,B2,C1,D3
1,15.766594,15.188920,8.766090,6.030181,4.104076,4.010450,8.807078,12.308784,A2,B3,C4,D4
2,6.255655,8.327522,10.716039,14.043087,3.392273,4.711813,6.824678,11.937425,A0,B0,C4,D1
3,7.800700,8.816120,13.622650,11.575137,9.341672,8.197759,13.443752,10.647139,A0,B2,C0,D3
4,16.092390,16.852847,8.870581,9.354431,2.863069,4.343285,8.539331,10.465412,A2,B4,C4,D4

We can look at the trends as is

In [6]:
result_df = dsp.get_subgroup_trends_1lev(sp_df2,['pearson_corr'])

Mor interestingly, we can add columns for the clusters in 2 dimensional views and then compute trends again

In [7]:
sp_df2_clust = dsp.add_all_dpgmm(sp_df2,2)
sp_df2_clust.head()

/home/smb/anaconda3/lib/python3.6/site-packages/sklearn/mixture/base.py:237: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)

,x1,x2,x3,x4,x5,x6,x7,x8,A,B,...,x4_x5_dpgmm,x4_x6_dpgmm,x4_x7_dpgmm,x4_x8_dpgmm,x5_x6_dpgmm,x5_x7_dpgmm,x5_x8_dpgmm,x6_x7_dpgmm,x6_x8_dpgmm,x7_x8_dpgmm
0,3.323754,5.365664,13.473732,10.183403,13.530264,13.495102,9.442664,11.846781,A4,B2,...,1,4,1,3,7,3,2,0,4,2
1,15.766594,15.188920,8.766090,6.030181,4.104076,4.010450,8.807078,12.308784,A2,B3,...,8,0,1,3,2,8,0,1,6,1
2,6.255655,8.327522,10.716039,14.043087,3.392273,4.711813,6.824678,11.937425,A0,B0,...,8,2,2,3,2,8,0,1,6,1
3,7.800700,8.816120,13.622650,11.575137,9.341672,8.197759,13.443752,10.647139,A0,B2,...,1,0,1,3,11,3,2,7,4,2
4,16.092390,16.852847,8.870581,9.354431,2.863069,4.343285,8.539331,10.465412,A2,B4,...,8,0,1,3,2,8,0,1,6,1

In [18]:
result_df_clust = dsp.get_subgroup_trends_1lev(sp_df2_clust,['pearson_corr'])
result_df_clust.sample(10)

,feat1,feat2,subgroup_trend,group_feat,subgroup,trend_type,agg_trend
3006,x5,x7,0.105449,x2_x5_dpgmm,9,pearson_corr,-0.140129
1083,x2,x4,-0.000444,x2_x5_dpgmm,0,pearson_corr,-0.016288
786,x1,x8,0.161072,D,D3,pearson_corr,-0.004391
1657,x2,x8,0.292386,x6_x8_dpgmm,4,pearson_corr,-0.013124
3140,x5,x8,-0.160607,x2_x7_dpgmm,2,pearson_corr,-0.195072
1497,x2,x7,-0.277139,x3_x7_dpgmm,4,pearson_corr,0.004204
2996,x5,x7,-0.082869,x2_x3_dpgmm,4,pearson_corr,-0.140129
3218,x6,x7,-0.200891,D,D3,pearson_corr,-0.089254
3398,x6,x8,-0.005327,x2_x8_dpgmm,1,pearson_corr,-0.154837
687,x1,x7,-0.005878,x1_x8_dpgmm,1,pearson_corr,0.071212

Now, we can work toward ranking, by adding the slope columns

In [19]:
result_df_clust = dsp.add_slope_cols(sp_df2_clust,result_df_clust)
result_df_clust = dsp.add_angle_col(result_df_clust)
result_df_clust.head()

,feat1,feat2,subgroup_trend,group_feat,subgroup,trend_type,agg_trend,subgroup_slope,all_slope,angle
0,x1,x2,-0.658449,A,A0,pearson_corr,0.89851,-0.706791,0.906488,77.444237
1,x1,x2,-0.644736,A,A1,pearson_corr,0.89851,-0.537774,0.906488,70.462120
2,x1,x2,-0.381701,A,A2,pearson_corr,0.89851,-0.271830,0.906488,57.399181
3,x1,x2,0.666264,A,A3,pearson_corr,0.89851,0.679966,0.906488,7.977552
4,x1,x2,-0.565582,A,A4,pearson_corr,0.89851,-0.704283,0.906488,77.348308

In [21]:
count_df = dsp.count_sp_views(result_df_clust, colored= False, portions =False,data_df= None,
                    groupby_count =False,append_counts=False)

TypeError: count_sp_views() got an unexpected keyword argument 'append_counts'

In [11]:
result_df_clust.head()

,feat1,feat2,subgroup_trend,group_feat,subgroup,trend_type,agg_trend,subgroup_slope,all_slope
0,x1,x2,-0.658449,A,A0,pearson_corr,0.89851,-0.706791,0.906488
1,x1,x2,-0.644736,A,A1,pearson_corr,0.89851,-0.537774,0.906488
2,x1,x2,-0.381701,A,A2,pearson_corr,0.89851,-0.271830,0.906488
3,x1,x2,0.666264,A,A3,pearson_corr,0.89851,0.679966,0.906488
4,x1,x2,-0.565582,A,A4,pearson_corr,0.89851,-0.704283,0.906488

In [10]:
gb = sp_df2.groupby('A')
len(gb)

5

In [ ]:
tui = np.triu_indices(2,k=1)
tui

# TODO Visualization (Hard code modify)

In [ ]:
# group by color
grouped_df_color = latent_df.groupby('color')['x1','x2','x3'].corr()
blue=grouped_df_color.loc['b']
red=grouped_df_color.loc['r']

# group by char
grouped_df_char = latent_df.groupby('char')['x1','x2','x3'].corr()
char_o=grouped_df_char.loc['o']
char_x=grouped_df_char.loc['x']

# create a 0 matrix for the irrelvant cells
s = (len(blue),len(blue))
zero = np.zeros(s)

# manipulate the subgroup matrix first after corr() method
color_group=np.vstack([np.hstack([blue, zero]), np.hstack([zero, red])])

# create a 0 matrix for the irrelvant cells
s = (len(all_corr),len(color_group))
zero1 = np.zeros(s)

# combine the correlation matrix of all of the data with subgroup by color
all_combined=np.vstack([np.hstack([all_corr, zero1]), np.hstack([zero1.transpose(), color_group])])

# Combine char group
s = (len(char_o),len(char_x))
zero = np.zeros(s)
char_group=np.vstack([np.hstack([char_o, zero]), np.hstack([zero, char_x])])
s = (len(all_combined),len(char_group))
zero1 = np.zeros(s)
all_combined=np.vstack([np.hstack([all_combined, zero1]), np.hstack([zero1.transpose(), char_group])])

__ why a heat map?__

In [ ]:
# Generate a heatmap for correlation matrix
cmap = mcolors.LinearSegmentedColormap.from_list('mycmap', ['red', 'white', 'blue'])
norm = plt.Normalize(-1,1)

labels =  ['x1','x2','x3','x1_b','x2_b','x3_b','x1_r','x2_r','x3_r','x1_o','x2_o','x3_o','x1_x','x2_x','x3_x']
plt.figure(figsize=(11, 9))

ax = sns.heatmap(all_combined, cmap=cmap, annot=True, fmt=".2f", xticklabels=labels, yticklabels=labels, linewidths=.5, norm=norm, center=0)

# Offset 0.00
for t in ax.texts: 
    if t.get_text() == '0.00':
        t.set_text("")
plt.show()